<!DOCTYPE html>
<html lang="ko">
<meta charset="UTF-8">

<head>
	<link href="style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title> PCB 결함 탐지 </title>

	<script>
		var video = null;
		var canvas = null;
		var ctx = null;
		var interval = 0;

		function startVideo() {
			video = document.getElementById("video");
			canvas = document.getElementById("canvas");
			ctx = canvas.getContext("2d");

			if (navigator.mediaDevices.getUserMedia) {
				navigator.mediaDevices.getUserMedia({ video: true })
					.then(function (stream) {
						video.srcObject = stream;
						video.onloadedmetadata = function (e) {
							video.play();
						};

						document.getElementById('capture').disabled = false;
						document.getElementById('auto_apply').disabled = false;
					})
					.catch(function (err) {
						console.log("An error occurred: " + err);
					});
			}
		}

		function stopVideo() {
			if (video) {
				video.pause();
				video.srcObject = null;

				document.getElementById('capture').disabled = true;
				document.getElementById('save').disabled = true;
			}

			if (ctx) {
				ctx.clearRect(0, 0, canvas.width, canvas.height);
			}
		}

		function takeSnapshot() {
			ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

			document.getElementById('analyze-button').disabled = false;
			document.getElementById('save').disabled = false;
            saveImage()
		}

		function saveImage() {
			var formData = new FormData();
			formData.append('source', 'javascript');
			formData.append('image', canvas.toDataURL());

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '{{ url_for('process.cam') }}');
			xhr.onload = function () {
				if (xhr.status === 200) {
					console.log('Image uploaded successfully.');
				} else {
					console.log('Failed to upload image.');
				}
			};
			xhr.send(formData);
		}

		function downloadCanvas() {
			var canvas = document.getElementById("canvas");
			var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
			var link = document.createElement('a');

			link.download = "image.png";
			link.href = image;
			link.click();
		}

		function takeAuto() {
			takeSnapshot()
			clearInterval(interval)
			interval = setInterval(function () {
				takeSnapshot()
			}, document.getElementById('myInterval').value);

			document.getElementById('auto_disable').disabled = false;
		}

		function stopAuto() {
			clearInterval(interval)
			interval = 0

			document.getElementById('auto_disable').disabled = true;
		}

        function capturedPopup() {
            window.open("{{ url_for('process.captured') }}", "captured", "width=600, height=1000, left=0, top=0");
		}
	</script>
</head>

<body>
	{% if g.user %}
	<div class="outline">
		<h1 class="title"> 컴퓨터 비전 기반 PCB 결함 탐지 </h1>
		<div class="inline">
			<p class="margin1 link-box">
				<a href="" class="blue-link" target="_blank">
					실제 예제 보기
				</a>
				|
				<a href="https://github.com/choguitar/capstone" class="blue-link" target="_blank">
					GitHub에서 보기
				</a>
			</p>

			<p class="tab_menu">
				<a class="mode_btn" href="{{ url_for('process.img') }}"><button type="img_btn"> 이미지 첨부 </button></a>
				<a class="mode_btn" href="{{ url_for('process.cam') }}"><button type="cam_btn" style="margin-right:1px"
						disabled> 웹캠 연동 </button></a>
			</p>

			<form method="post" enctype="multipart/form-data">
				<input type="hidden" name="recap" id="recap_response">
				<div class="option-box first">
					<div>
						<input type=button value="비디오 활성화" onclick="{startVideo()}"
							style="margin-left:13px; margin-bottom:5px;">
						<input type=button value="비디오 비활성화" onclick="{stopVideo()}" style="margin-bottom:5px;"><br>

						<input type=button id="capture" value="캡쳐" onclick="{takeSnapshot()}" style="margin-bottom:5px;"
							disabled>
						<input type=button id="save" value="저장" onclick="{downloadCanvas()}" style="margin-bottom:5px;"
							disabled>
						<br>
						<input type=number id="myInterval" value="300" style="width: 60px;"> msec 마다 자동 캡쳐
						<input type=button id="auto_apply" value="적용" onclick="{takeAuto()}" disabled>
						<input type=button id="auto_disable" value="비활성화" onclick="{stopAuto()}" disabled>
					</div>

					<br>
					<input type=button id="check-button" type="check" class="button" style="margin:auto" value="조회"
						onclick="capturedPopup()">
                    <input type="hidden" name="source" value="form">
				</div>
			</form>

			<video id="video" width="640" height="480"></video><br>
			<canvas id="canvas" width="400" height="300"></canvas><br>
		</div>
	</div>
	<p> <a href="{{ url_for('auth.logout') }}"> {{ g.user.username }} (로그아웃) </a> </p>
	{% else %}
	<p> <a href="{{ url_for('auth.login') }}"> 로그인 </a> </p>
	{% endif %}
	<div style="margin-top: 10%; font-size: 10px">2023년 1학기 세종대학교 캡스톤 5조 팀 프로젝트</div>
</body>

</html>